#asset
  %h3= asset.name
  = image_tag asset.attachment_url(:thumb).to_s

  #comments

    - if user_signed_in?
      = render :partial => 'comments/form'

    - else
      %p= "You must #{link_to('Sign In', new_user_session_path)} to comment.".html_safe

    - asset.comments.each do |c|
      .comment
        .author= c.user.to_s
        .body= c.body

    
