:javascript

  $(function(){

    $('#upvote a').click(function(){
      $.ajax({
        url: '#{upvote_asset_path}', 
        dataType: 'json',
        success: function(data){
          $('#upvote a').html("+" + data['upvotes']);
          }
        });
      return false;
    });

    $('#downvote a').click(function(){
      $.ajax({
        url: '#{downvote_asset_path}',
        success: function(data){
          $('#downvote a').html("-" + data['downvotes']);
        }
      });
      return false;
    });
  });

#asset
  %h3= asset.name
  #voting
    #upvote= link_to("+#{asset.upvotes}", upvote_asset_path)
    #downvote= link_to("-#{asset.downvotes}", downvote_asset_path)
  = image_tag asset.attachment_url.to_s

  #comments

    - if user_signed_in?
      = render :partial => 'comments/form'

    - else
      %p= "You must #{link_to('Sign In', new_user_session_path)} to comment.".html_safe

    = render asset.comments

